{% extends 'layout.html.jinja2' %}
{% set menu_section = 'home' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% block desktop %}
        <div class="desktop">
            <div class="desktop-logo">
                <img class="logo" src="{{ static('img/pinkhat-bigsize.png') }}">
            </div>
            {% block lefticons %}
            <div class="left-side-icons">
                <ul class="desk-ul">
                    {% for icons in config.icons %}
                    <li class="desk-li">
                        <a class="icons" href="">
                            <i class="{{ icons.font }} font-icon "></i><br>
                            <p>{{ icons.title}}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{# This is the main templates file, along with the layout. #}
{# The engine is Jinja2 #}

