{% extends 'layout.html.jinja2' %}
{% set menu_section = 'home' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% block desktop %}
        <div class="desktop">
            {% block lefticons %}
            <div class="left-side-icons">
                <ul class="desk-ul">
                    <li class="desk-li">
                        <a class="suggestion-icon" href="">
                            <i class="fa fa-file-text fa-2x "></i><br>
                            <p>{{ config.suggestion.title}}</p>
                        </a>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{# This is the main templates file, along with the layout. #}
{# The engine is Jinja2 #}

