{% extends 'layout.html.jinja2' %}
{% set menu_section = 'home' %}
{% block title %}Home{% endblock %}

{# This is the main templates file, along with the layout. #}
{# The engine is Jinja2, close to Twig (yet not as good) #}

{% block hello %} Hello Lalaland =D <3 {% endblock %}