<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Welcome{% endblock %} &mdash; {{ config.meta.title }}</title>

    <meta name="description" content="{{ config.meta.description }}">
    <meta name="keywords"    content="{{ config.meta.keywords | join(', ') }}">
{% for author in config.authors | shuffle %}
    <meta name="author"      content="{{ author.name }} <{{ author.mail }}>">
{% endfor %}

   <link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
  </head>

  <body>
      <header class="navigation_bar">
          <!-- Navigation bar's buttons, NOT available for now -->
         <div class="nav_buttons">
            <ul>
                <li><img src="{{ static('img/icon.png') }}"></li>
                <li><a class="buttons" href="">Articles</a></li>
                <li><a class="buttons" href="">Projects</a></li>
                <li><a class="buttons" href="">Jeux</a></li>
                <li><a class="buttons" href="">Github</a></li>

                <li><a class="buttons" href="">Suggestions</a></li>
                <div class="nav-right">
                <li >
                    <div class="search-container">
                        <span class="icon"><img src="{{ static('img/search-icon.png') }}"></span>
                        <input type="search" id="search" placeholder="Search..." />
                    </div>
                </li>
                <li>
                    <div class="date-container">
                        <p class ="show-date" id="date"></p>
                    </div>
                </li>
                </div>
            </ul>
<!-- Javascript : Get date ---------------------------------------------------------------->
<!-- ??????? QUESTION:Js on a different file and methods called here ??-->
<script>

function addZero(i) {
if (i < 10) {
i = "0" + i;
}
return i;
}
setTimeout("timeClock()", 1000);
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
h = addZero(n.getHours());
min = addZero(n.getMinutes());
document.getElementById("date").innerHTML = h + ":" + min + " | " + m + "/" + d + "/" + y;
</script>

        </div>
      </header>
  </body>
</html>