<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Welcome{% endblock %} &mdash; {{ config.meta.title }}</title>

    <meta name="description" content="{{ config.meta.description }}">
    <meta name="keywords"    content="{{ config.meta.keywords | join(', ') }}">
{% for author in config.authors | shuffle %}
    <meta name="author"      content="{{ author.name }} <{{ author.mail }}>">
{% endfor %}

   <link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ static('css/font-awesome.min.css') }}">
  </head>

  <body onload="time()">

      <header class="navigation_bar">
          <!-- Navigation bar's buttons, NOT available for now -->
         <div class="nav_buttons">
            <ul class="nav-ul">
                <li class="nav-li"><div class="ph-icon"><img src="{{ static('img/icon.png') }}"></div></li>
                <li class="nav-li"><a class="buttons " href="" >Bibliothèque  <i class="fa fa-sort-desc "></i></a></li>
                <li class="nav-li"><a class="buttons" href="">Projets  <i class="fa fa-sort-desc "></i></a></li>
                <li class="nav-li"><a class="buttons" href="">Jeux  <i class="fa fa-sort-desc "></i></a></li>
                <div class="nav-right">
                    <li class="nav-li ">
                        <input type="search" class="search-container" id="search" placeholder=" Rechercher.." />
                    </li>
                    <li class="nav-li" >
                        <p class ="show-date" id="date"></p>
                    </li>
                </div>
            </ul>
         </div>
      </header>

      <div class="containt">
          {% block containt %}
              <p style="color: #e43ac5; text-align: left">HEEEEEYAAAAAAAAAAAAAAAAAAAA Jinja is Awesome !</p>

              {% block desktop %}
                  <p style="color: #e43ac5; text-align: center">Icons Over Heree <3</p>

                  {% block suggestion %} <p> Override in Suggestion Page !</p>{% endblock %}
                  {% block library %} <p> Override in Library Page !</p>{% endblock %}
                  {% block projects %} <p> Override in Projects Page !</p>{% endblock %}
                  {% block games %} <p> Override in Games Page !</p>{% endblock %}
              {% endblock %}

          {% endblock %}
      </div>

      <script language="JavaScript" type="text/javascript" src="{{ static('js/javascript-methods.js') }}"></script>
      <script language="JavaScript" type="text/javascript" src="{{ static('js/moment.min.js') }}"></script>

  </body>
</html>