<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Welcome{% endblock %} &mdash; {{ config.meta.title }}</title>

    <meta name="description" content="{{ config.meta.description }}">
    <meta name="keywords"    content="{{ config.meta.keywords | join(', ') }}">
{% for author in config.authors | shuffle %}
    <meta name="author"      content="{{ author.name }} <{{ author.mail }}>">
{% endfor %}

   <link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ static('css/font-awesome.min.css') }}">
  </head>

  <body onload="time()">

      <header class="navigation_bar">
          <!-- Navigation bar's buttons, NOT available for now -->
         <div class="nav_buttons">
            <ul>
                <li><div class="ph-icon"><img src="{{ static('img/icon.png') }}"></div></li>
                <li><a class="buttons " href="" >Bibliothèque  <i class="fa fa-sort-desc "></i></a></li>
                <li><a class="buttons" href="">Projets  <i class="fa fa-sort-desc "></i></a></li>
                <li><a class="buttons" href="">Jeux  <i class="fa fa-sort-desc "></i></a></li>
                <div class="nav-right">
                <li >
                    <div class="search-container">
                        <span class="icon"><img src="{{ static('img/search-icon.png') }}"></span>
                        <input type="search" id="search" placeholder="Search..." />
                    </div>
                </li>
                <li>
                    <div class="date-container">
                        <p class ="show-date" id="date"></p>
                    </div>
                </li>
                </div>
            </ul>
         </div>
      </header>

      <div class="containt">
          {% block containt %}
              <p>HEEEEEYAAAAAAAAAAAAAAAAAAAA</p>
          {% endblock %}
      </div>

      <script language="JavaScript" type="text/javascript" src="{{ static('js/javascript-methods.js') }}"></script>
      <script language="JavaScript" type="text/javascript" src="{{ static('js/moment.min.js') }}"></script>

  </body>
</html>