/* DESKTOP *******************************************************************/
.desktop{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
    position: absolute;
}

.desktop .desktop-logo{
    padding-top: 3%;
    padding-left: 13%;
    position: absolute;
    z-index: 0;
}

.logo{
    width: 1200px;
    height: 606px;
    opacity: 0.50;
}

/** DESKTOP ICONS ************************************************************/
/* LEFT SIDE ICONS*******/
.desktop .left-side-icons{
    width: 10%;
    height: 90%;
    z-index: 1;
    position: absolute;
}
.desk-ul{
    list-style-type: none;
    margin: 0;
    float: right;
    height: 90%; /* Full height */
    position: fixed;
}
.desk-li{
    color: #ffe4fd;
    margin-top: 15%;
}

.suggestion-icon{
    text-decoration: none;
    padding-top: 10%;
    outline: 0;

}

/* Suggestion icon*/
.suggestion-icon p{
    text-decoration: none;
    color: #f8f3f6;
    text-align: center;
    font-size: medium;
    margin-top: 4%;
    font-family: "Trebuchet MS";
}
.fa-file-text{
    padding-top: 10px;
    color: #f8f3f6;
    margin-left: 30%;

}
