/* DESKTOP *******************************************************************/
.desktop{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
    position: absolute;
}

.desktop .desktop-logo{
    padding-top: 3%;
    padding-left: 13%;
    position: fixed;
    z-index: 0;
}

.logo{
    width: 1200px;
    height: 606px;
    opacity: 0.50;
}

/** DESKTOP ICONS ************************************************************/
/* LEFT SIDE ICONS*******/
.desktop .left-side-icons{
    padding-top: 2.5%;
    width: 200px;
    height: 700px;
    z-index: 1;
    position: absolute;
}
.desk-ul{
    list-style-type: none;
    margin: 0;
    float: right;
    position: fixed;
}

.desk-li .icons{
    color: #ffe4fd;
    text-decoration: none;
    text-align: center;
    outline: 0;

}

.desk-li .icons:hover{
    color: #9C1A1C;
}

.icons .fa{
    padding-top: 10px;
    color: #f8f3f6;
    padding-left: 33%;

}

/* Suggestion icon*/
.icons p{
    text-decoration: none;
    color: #f8f3f6;
    text-align: center;
    font-size: medium;
    margin-top: 6%;
    font-family: "Trebuchet MS";
}