
/** BODY SETTINGS**************************************************************/
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

/** NAVIGATION BAR ************************************************************/
.navigation-bar{
  text-align:center;
  width: 100%;
  background: #310228;
  padding: 0;
  margin: 0;
  height: 40px;
  position:fixed;
  display: inherit;
}

.ph-icon img{
    height: 40px;
    width: 40px;
}
.navigation-bar .nav-ul{
  background: #310228;
  list-style:none;
  padding:0 0px;
  margin: 0;
  height: 40px;
}

.navigation-bar .nav-ul .nav-li{
    height: 40px;
    float: left;
    display: inherit;
}

.navigation-bar .nav-ul .nav-li a{
    color: #e258c8;
    display: block;
    float: left;
    font-size: medium;
    font-family:"Trebuchet MS";
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
}


.navigation-bar .nav-ul .right-nav-li{
    height: 40px;
    float: right;
    display: inherit;
}

.navigation-bar .nav-ul .right-nav-li .show-date{
    color: #e258c8;
    display: block;
    float: left;
    width: 150px;
    font-size: medium;
    font-family:"Trebuchet MS";
    text-decoration: none;
    text-align: center;
    margin-right: 5%;
}
