
/** BODY SETTINGS**************************************************************/
body {
    background-color: #000000;
    margin: 0;
    padding: 0;

}

/** NAVIGATION BAR ************************************************************/

/*LEFT SIDE*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #310228;
}

.nav-li {
    float: left;
    height: 50px;
}

.ph-icon img{
    height: 50px;
    width: 50px;
}
.nav-li a {
    height: 50px;
    display: block;
    color: #ffffff;
    font-size: medium;
    font-family:"Trebuchet MS";
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-li a:hover, .nav-li a:focus {
    background-color: #e258c8;
}

/*RIGHT SIDE*/

.nav-right{
    float: right;
    /*margin-left: 30px;*/
}

/****** Search input *****/
.nav-li .search-container{
   color: #310228;
   font-size: small;
   font-family:"Trebuchet MS";
   text-indent: 2px;
   border: 1px solid #310228;
   border-radius: 30px;
   margin-top: 15px;
   height: 20px;
}

.search-container{
margin-right: 5px;
}


/****** Date *****/
.show-date{
   font-size: 12px;
   width: 150px;
   padding-top: 8px;
   padding-left: 5px;
   font-family:"Trebuchet MS";
   color: #FFFFFF;
}

/** DESKTOP ICONS ************************************************************/
.desktop{
    padding-top: 1%;
    width: 10%;
}
.desk-ul{
    list-style-type: none;
    width: 6%;
    margin-left: 0px;
    float: right;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.desk-li{
    color: #ffe4fd;
}

.awesome-icon{
    text-decoration: none;
    color: #f8f3f6;
    text-align: center;
    font-size: medium;
    font-family: "Trebuchet MS";
}
.fa-file-text{
    color: #f8f3f6;
    margin-left: 30%;

}
