
  /** BODY SETTINGS**************************************************************/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;

}

/** NAVIGATION BAR ************************************************************/
#costum-navbar.navbar{
        margin-bottom: 0px;
        border: 0px;
}

#costum-navbar.navbar a{
        color: black;
        padding-top: 20px;

}
#costum-navbar.navbar a:hover{
        background-color: #fd86aa;
}

#costum-navbar.navbar .navbar-inverse{
        margin-bottom: 0px;
        border-color:  #ffd0df;
}
#costum-navbar.navbar .navbar-toggle{
        border-color: #ffd0df;
        background-color: black;
        color: #ffd0df;
}
#costum-navbar.navbar .collapse{
        border-color: #ffd0df;
        background-color: #ffd0df;
        color: #ffd0df;
}

#costum-navbar.navbar .collapsing{
        border-color: #ffd0df;
}

#costum-navbar.navbar .collapsed{
        border-color: #ffd0df;
        background-color: grey;
        color: #ffd0df;
}
#costum-navbar.navbar .container-fluid{
        background-color:  #ffd0df;
        border-color:  #ffd0df;
        font-size: medium;
        font-family:"Courier 10 Pitch";
}
#costum-navbar.navbar .navbar-brand{
        padding: 0;
}