          /*<nav class="nav-bar">
              <ul class="nav-ul">
                  <li class="nav-li"><div class="ph-icon"><img src="{{ static('img/icon.png') }}"></div></li>
                  {% for navigationItems in config.navigation %}
                  <li class="nav-li">
                      <a class="buttons ">{{ navigationItems.title }} </a>
                      <ul class="menu-ul">
                          {% for child in navigationItems.children %}
                          <li class="menu-ul">
                            <a class="menu-buttons ">{{ child.title }}</a>
                          </li>
                          {% endfor %}
                      </ul>
                  </li>
                  {% endfor %}
              </ul>
          </nav>*/


/** NAVIGATION BAR ************************************************************/

/*LEFT SIDE*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #310228;
}

.nav-li {
    float: left;
    height: 50px;
}

.ph-icon img{
    height: 50px;
    width: 50px;
}
.nav-li a {
    height: 50px;
    display: block;
    color: #ffffff;
    font-size: medium;
    font-family:"Trebuchet MS";
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-li a:hover, .nav-li a:focus {
    background-color: #e258c8;
}

/*RIGHT SIDE*/

.nav-right{
    float: right;
    /*margin-left: 30px;*/
}

/****** Search input *****/
.nav-li .search-container{
   color: #310228;
   font-size: small;
   font-family:"Trebuchet MS";
   text-indent: 2px;
   border: 1px solid #310228;
   border-radius: 30px;
   margin-top: 15px;
   height: 20px;
}

.search-container{
margin-right: 5px;
}


/****** Date *****/
.show-date{
   font-size: 12px;
   width: 150px;
   padding-top: 8px;
   padding-left: 5px;
   font-family:"Trebuchet MS";
   color: #FFFFFF;
}
/*Menu deroulant*/

.biblio-menu{
    width: 200px;
    height: 200px;
    background-color: deeppink ;
    margin-top: 50px;
}
.menu-ul{

}



/*
<header class="navigation_bar">
          <!-- Navigation bar's buttons, NOT available for now -->
         <div class="nav_buttons">
            <ul class="nav-ul">
                <li class="nav-li"><div class="ph-icon"><img src="{{ static('img/icon.png') }}"></div></li>
                {% for navigationItem in config.navigation %}
                <li class="nav-li"><a class="buttons ">{{ navigationItem.title }} <i class="fa fa-sort-desc "></i></a>
                    <div class="biblio-menu" style="display: inherit">
                        <ul class="menu-ul">
                            {% for child in navigationItem.children %}
                                <li class="menu-li">{{ child.title  }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
                <div class="nav-right">
                    <li class="nav-li ">
                        <input type="search" class="search-container" id="search" placeholder=" Rechercher.." />
                    </li>
                    <li class="nav-li" >
                        <p class ="show-date" id="date"></p>
                    </li>
                </div>
            </ul>
         </div>
      </header>

*/
